<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Humanity Project</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="header">
    <h1><a href="/" class="logo">Project Humanity</a></h1>
</header>
<main class="main">
    <section class="main-section">
        <h2 class="section-heading">Friend List</h2>

        <article class="section-article">
            <h3 class="article-heading">House</h3>
            <ul class="article-list article-list--house" aria-live="polite" aria-relevant="Here friends will be added">

            </ul>
        </article>

        <article class="section-article">
            <h3 class="article-heading">Work</h3>
            <ul class="article-list article-list--work" aria-live="polite" aria-relevant="Here friends will be added">

            </ul>
        </article>

        <article class="section-article">
            <h3 class="article-heading">Friends</h3>
            <ul class="article-list article-list--friends" aria-live="polite" aria-relevant="Here friends will be added">

            </ul>
        </article>

        <article class="section-article">
            <h3 class="article-heading">Services</h3>
            <ul class="article-list article-list--services" aria-live="polite" aria-relevant="Here friends will be added">

            </ul>
        </article>


    </section>

    <section class="main-section--panel">
        <h2 class="section-heading">Panel</h2>
        <article class="section-article">
            <h3 class="article-heading">Add Friend</h3>
            <form action="/api/addFriend" method="post" class="article-panel">
                <label for="name">Name</label><input type="text" name="name"  class="panel-input"></span>
                <select name="group" class="panel-input">
                    <option value="house">House</option>
                    <option value="work">Work</option>
                    <option value="friends">Friends</option>
                    <option value="services">Services</option>
                </select>
                <span><label><input type="checkbox" name="favourite">Favourite</label></span>

                <input type="submit" value="Submit" class="panel-input">

            </form>
        </article>

        <article class="section-article">
        <h3 class="article-heading">Change friend group</h3>
            <form action="/api/changeGroup" method="post" id="updateGroup" class="article-panel">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="panel-input">

                <label for="group">New group</label>
                <select name="group" class="panel-input" id="group" >
                    <option value="house">House</option>
                    <option value="work">Work</option>
                    <option value="friends">Friends</option>
                    <option value="services">Services</option>
                </select>

                <input type="submit" value="Submit" class="panel-input">
            </form>
        </article>
    </section>
</main>




<% include templates/scripts.ejs %>
</body>
</html>