<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Humanity Project</title>
    <link rel="stylesheet" href="/icon/css/font-awesome.min.css">
</head>
<body>

<header>
    <h1><a href="/">Project Humanity <span class="icon icon--logo" aria-hidden="true"></span></a></h1>
</header>
<main>
    <section>
        <h2>Friend List</h2>
        <ul>
            <li>
                <strong>Joe Doe</strong>
                <button aria-label="favourite button"><span class="icon fa-star" aria-hidden="true"></span></button>
                <button aria-label=""><span class="icon fa-trash"></span></button>
            </li>
        </ul>
    </section>
    <section>
        <h2>Chat</h2>
        <p>Nothing to show there!</p>
    </section>
</main>





</body>
</html>