.select {
    border: 1px solid #AAA;
    width: 200px;
    color: #555;
    }

/* Normalize */
body {
    background-color: #F4F4F4;
    color:#050709;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    }

h1 {
    font-size: 2.5em;
    }
h2 {
    font-size: 2.2em;
    }
h3 {
    font-size: 1.9em;
    }
/* header */

.header {

    width: 100%;
    height: 50px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

/* main */
.logo {
    color:#050709;
    text-decoration: none;
    }
.logo:visited  {
    color:#050709;
    text-decoration: none;
    }

.main {
    width: 100%;
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    min-height: 100vh;
    }

.main-section {
    min-width: 35%;
    min-height: 100vh;
    border-right: 2px solid #d1d1d1;
    padding: 40px;
    }
.main-section--panel {
    width: 50%;
    padding: 30px;
    min-height: 100vh;
    }

.section-heading {
    text-align: center;
    text-transform: uppercase;
    }

.article-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    }
.article-list {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }



/* friend Component */

.list-friendElement {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
.friendElement-separator {
    font-size: 1.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.friendElement-separator button {
    margin: 10px;

    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    }
.icon {
    width: 1.5em;
    height: 1.5em;
    transition-duration:4s;
    transition: transform 0.9s ease-in-out;
    }
.icon:hover {
    moz-transform: scale(1.2);
    transform: rotate(360deg) scale(1.4);
    }

.article-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.article-panel span {
    margin:10px;
    }
.panel-input {
    color: #555;
    height: 20px;
    width: 200px;
    padding: 2px;
    margin: 10px;
    }